In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 150) 
pd.set_option('display.max_rows', 150)

In [4]:
df_acci = pd.read_csv('../data/2023_accidents_causa_conductor_gu_bcn_.csv')

In [5]:
df_acci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8897 entries, 0 to 8896
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Numero_expedient          8897 non-null   object
 1   Codi_districte            8897 non-null   int64
 2   Nom_districte             8897 non-null   object
 3   Codi_barri                8897 non-null   int64
 4   Nom_barri                 8897 non-null   object
 5   Codi_carrer               8897 non-null   int64
 6   Nom_carrer                8897 non-null   object
 7   Num_postal                8893 non-null   object
 8   Descripcio_dia_setmana    8897 non-null   object
 9   NK_Any                    8897 non-null   int64
 10  Mes_any                   8897 non-null   int64
 11  Nom_mes                   8897 non-null   object
 12  Dia_mes                   8897 non-null   int64
 13  Hora_dia                  8897 non-null   int64
 14  Descripcio_torn           8897 non-null   object
 15  Descripcio_causa_mediata  8897 non-null   object
 16  Coordenada_UTM_X_ED50     8897 non-null   float64
 17  Coordenada_UTM_Y_ED50     8897 non-null   float64
 18  Longitud_WGS84            8897 non-null   float64
 19  Latitud_WGS84             8897 non-null   float64
dtypes: float64(4), int64(7), object(9)
memory usage: 1.4+ MB

In [6]:
print(df_acci.shape)
df_acci.head(2)

(8897, 20)

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_mediata,Coordenada_UTM_X_ED50,Coordenada_UTM_Y_ED50,Longitud_WGS84,Latitud_WGS84
0,2023S000699,-1,Desconegut,-1,Desconegut,-1,Rovira (ascendent) ...,0,Dissabte,2023,2,Febrer,4,16,Tarda,Manca d'atenció a la conducció,430443.36,4585232.00,2.166596,41.413783
1,2023S005197,-1,Desconegut,-1,Desconegut,-1,Estatut de Catalunya ...,11,Divendres,2023,9,Setembre,1,13,Matí,No respectar distàncies,429493.73,4587108.15,2.155015,41.430598

In [7]:
df_acci[df_acci.duplicated(keep=False)]

Empty DataFrame
Columns: [Numero_expedient, Codi_districte, Nom_districte, Codi_barri, Nom_barri, Codi_carrer, Nom_carrer, Num_postal , Descripcio_dia_setmana, NK_Any, Mes_any, Nom_mes, Dia_mes, Hora_dia, Descripcio_torn, Descripcio_causa_mediata, Coordenada_UTM_X_ED50, Coordenada_UTM_Y_ED50, Longitud_WGS84, Latitud_WGS84]
Index: []

In [8]:
df_acci.isnull().sum()

Numero_expedient            0
Codi_districte              0
Nom_districte               0
Codi_barri                  0
Nom_barri                   0
Codi_carrer                 0
Nom_carrer                  0
Num_postal                  4
Descripcio_dia_setmana      0
NK_Any                      0
Mes_any                     0
Nom_mes                     0
Dia_mes                     0
Hora_dia                    0
Descripcio_torn             0
Descripcio_causa_mediata    0
Coordenada_UTM_X_ED50       0
Coordenada_UTM_Y_ED50       0
Longitud_WGS84              0
Latitud_WGS84               0
dtype: int64